bitarray==3.6.1
bitstring==4.3.1
cffi==1.17.1
click==8.2.1
cryptography==45.0.6
esptool==5.0.2
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
mpremote==1.26.0
platformdirs==4.3.8
pycparser==2.22
Pygments==2.19.2
pyserial==3.5
PyYAML==6.0.2
reedsolo==1.7.0
rich==14.1.0
rich-click==1.8.9
typing_extensions==4.14.1
